<button type="button"
        hx-get="{% url 'quick_transaction_form' %}"
        hx-target="#modal-container"
        hx-swap="innerHTML"
        hx-indicator="this"
        class="group flex flex-col items-center justify-center gap-0.5 cursor-pointer active:scale-95 transition-transform {{ custom_class|default:'w-full' }}">

  <div class="{{ inner_class|default:'w-9 h-9 rounded-xl' }} bg-action-primary hover:bg-action-primary-hover text-brand-dark flex items-center justify-center shadow-md shadow-emerald-500/20 font-bold transition-colors">
    <!-- Spinner HTMX -->
    {% include "budget/components/icon.html" with name="spinner" class="w-5 h-5 animate-spin htmx-show-flex text-current" %}

    <!-- Icône Plus -->
    {% include "budget/components/icon.html" with name="plus" class="w-5 h-5 htmx-hide" %}
  </div>
</button>
